aside{
    top:1em;
}

.read form label{
    width: 20%;
    display: inline-block;
}

.read form input, .read form textarea, .read form .js-combobox{
    width: 70%;
    margin:.5em;
    background-color: #1E1C1C;
    border: 1px solid #4A4848;
}

label[for=description]{
    vertical-align: top;
}

.read form textarea{
    resize:vertical;
}

.read form input[type=submit], .read form input[type=reset]{
    cursor: pointer;
    width: 9em;
    margin-right: 1em;
    padding: .5em;
    font-size: 1em;
}

.read form > fieldset:last-child{
    text-align: center;
    border: none;
}

.read form input[type=checkbox]{
   width:auto;
}

label{
    vertical-align: middle;
}

#contents{
    width:97%;
    height: 500px;
    background: black;
}

#tools > *{
    display: inline-block;
    position: relative;
        width: auto;
}

#tools > * > img{
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    transition: background-color .5s;
}

#tools > * > img:hover{
    background-color: black;
}

#tools{
    margin: 10px 0;
    text-align: center;
}

#tools > div:hover > .tip{
    visibility: visible;
    opacity:1;
    transition-delay: .7s;
}

#tools div:nth-child(5), #tools > div:nth-child(7), #tools > div:nth-child(11), #tools > div:nth-child(15){margin-left: 2em;}

#article_content{
    transition: opacity .5s, visibility .5s;
    opacity:1;
    visibility: visible;
}

#article_content.invisible{
    opacity:0;
    visibility: hidden;
}

.img_thumbs{
    text-align: center;
}

.img_thumbs > div > img{
    max-height: 100px;
}
.img_thumbs > div{
    text-align: center; 
    display: inline-block; 
    position: relative;
    margin-right: 50px;
    margin-top:20px;
    position: relative;
}

.img_thumbs > div:hover .thumb_action{
    opacity:1;
    visibility: visible;
}

.thumb_action{
    text-align: right;
    opacity:0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}

.thumb_action > div{
     cursor: pointer;
    position: relative;
    display: inline-block;
    height: 24px;
    width: 24px; 
    margin-left: 10px;
}

.thumb_action > div > .tip{
    top: 100%;
}

.thumb_action > div:hover > .tip{
    visibility: visible;
    opacity: 1;
}

.thumb_action > div:first-child{
    background: url(/img/brackets.png) 0 0 no-repeat;
}

.thumb_action > div:first-child + div{
    background: url(/img/delete.png) 0 0 no-repeat;
}

form[name=images_form]{
    display: none;
}

.section_images > div{
    display: table;
    width: 100%;
}

.section_images > div > div{
    display: table-row;
}

.section_images > div > div > div{
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

.section_images > div > div > div:first-child{
    text-align: center;
    width: 30%;
}

.section_images > div > div > div:first-child > div{
    border: 1px dashed;
    display: inline-block;
    position: relative;
    width: 100%;

}

.section_images > div > div > div:first-child > div:before{
    content: "";
    padding-top: 100%;
    float: left;
}

#small_image > div:first-child > div{
    width: 30%;
}

.section_images img{
    width:100%;
}

.buttons > label{
    display: block !important;
    width:auto !important;
    white-space: nowrap;
    margin: .5em 0;
}

#big_image .tip, #small_image .tip{
    left: 50%;
    top: 50%;
    white-space: nowrap;
}

.sections .updown_content{
    background: none;
    overflow: hidden;
    padding: 0 !important;
    padding-left: 5% !important;

}

.sections .updown_content label{
    margin-right: 0 !important;
}

.sections .updown >input + div>label{
    background: none;
}

.sections .section_title{
    padding-right: 10px;
    display: inline-block;
    white-space: nowrap;
}

.sections .info{
    font-size: 1em;
}

.sections .section_title > img{
    padding-right: 10px;
    height: 30px;
}

.sections .updown >input + div>label > .info{
    display: inline-block;
}

.updown_action{
    display: block;
    text-align: right;
}

.updown_action > *{
    margin-right: 15px;
}

#section_split{
    width: 2em;
    vertical-align: middle;
}


