aside{
    top:1em;
}

form[name=pub_form] label{
    width: 20%;
    display: inline-block;
}

form[name=pub_form] input, form[name=pub_form] textarea, form[name=pub_form] .combobox{
    width: 70%;
    margin:.5em;
    background-color: #1E1C1C;
    border: 1px solid #4A4848;
}

label[for=description]{
    vertical-align: top;
}

form[name=pub_form] textarea{
    resize:vertical;
}

form[name=pub_form] input[type=submit], form[name=pub_form] input[type=reset]{
    cursor: pointer;
    width: 9em;
    margin-right: 1em;
    padding: .5em;
    font-size: 1em;
}

form[name=pub_form] > fieldset:last-child{
    text-align: center;
    border: none;
}

#contents{
    width:97%;
    height: 500px;
    background: black;
}

#tools > *{
    display: inline-block;
    position: relative;
        width: auto;
}

#tools > * > img{
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    transition: background-color .5s;
}

#tools > * > img:hover{
    background-color: black;
}

#tools{
    margin: 10px 0;
    text-align: center;
}

#tools > div:hover > .tip{
    visibility: visible;
    opacity:1;
    transition-delay: .7s;
}

#tools div:nth-child(5), #tools > div:nth-child(7), #tools > div:nth-child(11), #tools > div:nth-child(15){margin-left: 2em;}

#article_content{
    transition: opacity .5s, visibility .5s;
    opacity:1;
    visibility: visible;
}

#article_content.invisible{
    opacity:0;
    visibility: hidden;
}

.img_thumbs{
    text-align: center;
}

.img_thumbs > div > img{
    max-height: 100px;
}
.img_thumbs > div{
    text-align: center; 
    display: inline-block; 
    position: relative;
    margin-right: 50px;
    margin-top:20px;
}

.img_thumbs > div:hover .close{
    opacity:1;
    visibility: visible;
}

.img_thumbs .close{
    cursor: pointer;
    position: absolute; 
    top:0; 
    right:0;
    opacity:0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}

.img_thumbs .close:before{
    content: 'x';
}

form[name=images_form]{
    display: none;
}


