/*комментарии*/

.comments{
    margin-top: 3em;
}

.comments > article{ 
    transition: visibility .3s, opacity .3s; 
    padding: 0 !important;
    margin-bottom: 5px;
    background-color: rgb(35, 31, 31);
}

.comment{
    width:100%;
    transition: all .3s;
    background-color: rgb(35, 31, 31);
    display: table;
    table-layout: fixed;
}

.comments > .add{
    transition: visibility .3s, opacity .3s;
    padding: 0 0 2em !important;
    cursor: pointer;
    background: none;
    text-align: center;

}

.comments > .add > img{
    height: 1em;
    margin-right: 10px;
}

.comments > .add > *{
    background-color: rgb(35, 31, 31);
    text-align: left;
}

.comment > div{
    padding: 1em;
    display: table-cell;
    vertical-align: top;
}

.comment > div:first-child{
    text-align: center;
    width: 160px;
    border-right: 2px solid rgb(12, 11, 11);
    font-size: .9em;
}

.comment > div:first-child > *{
    padding: 1em 0;
}

.comment > div:first-child a{
    border: none;
}

.comment > div:first-child + div{
    position: relative;
    padding: 1em .5em;
}

.comm_header img{
    height: 1.5em;
    margin: 0 .3em;
    cursor: pointer;
}

.comm_header > div {
    display: inline-block;
    position: relative;
}

.comm_header div:nth-child(5), .comm_header div:nth-child(7), .comm_header div:nth-child(11), .comm_header div:nth-child(15){margin-left: 2em;}

.comm_header{
    overflow: visible;
    font-size: .9em;
    margin-bottom: 1em;
}

.comm_header > time{
    padding-left: 18px;
    background: url(/img/clock.png) 0 0 no-repeat;
    background-size: 1em;
    background-position: left center;
}

.comm_header > .rate{
    float: right;
}

.rate > div{
    display: inline-block;
    cursor: pointer;
    margin: 0;
    
}

.rate > div > img{
    height: 1em;
}

.comm_body {
    overflow-x: auto;
    margin: 0 2em 1em 1em;
    line-height: 1.5em;
}

.comm_footer{
    position: absolute;
    bottom: 0;
    height: 0;
    left:1em;
    right:0;
    width: auto !important;
    overflow: hidden;
    transition: height .3s;
}

.comm_footer.nohide {height: 2em;}

.comment:hover .comm_footer{
    height: 2em;
}

.comm_footer.maximized > .comm_edit:after{content: 'Редактировать'}
.comm_footer.maximized > .comm_delete:after{content: 'Удалить'}
.comm_footer.maximized > .comm_cancel:after{content: 'Отменить'}
.comm_footer.maximized > .comm_send:after{content: 'Отправить'}
.comm_footer.maximized > .comm_apply:after{content: 'Предпросмотр'}
.comm_footer.maximized > .comm_cancelApply:after{content: 'Назад'}

.comm_footer > div{
    cursor: pointer;
    margin-right: 1em;
    float: right;
    transition: background-color .3s;
    border-radius: 3px 3px;
    display: inline-block;
    padding: 3px 3px 3px 25px;
    background-size: auto 1em;
    background-position: 5px center;
    background-repeat: no-repeat;
    position: relative;
}

.comm_footer > div:hover{
    background-color: rgb(16, 14, 14);
}

.comm_delete{background-image: url(/img/delete.png);}
.comm_cancel{background-image: url(/img/cancel.png);}
.comm_edit{background-image: url(/img/edit.png);}
.comm_send{background-image: url(/img/airplane.png);}
.comm_apply{background-image: url(/img/eye.png);}
.comm_cancelApply{background-image: url(/img/prev.png);}
.loading {background-image: url(/img/loading.gif)}

.comm_body textarea{
    padding:0; 
    margin:0; 
    width:100%; 
    line-height: 1.5em;
    resize: none; 
    background: none !important;
    border: none;
    font-size: 1em;
    height: 400px;
}

.comm_body textarea:focus{
    box-shadow: none !important;
}

.comments > div:last-child{
    text-align: center;
    padding: 1em;
    cursor: pointer;
}

.comments > div:last-child > img{
    height: 1em;
    margin-right: 5px;
}
