@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&subset=latin,cyrillic);

*{
    color: #D4CECE;
    font-family: 'Open Sans', sans-serif; 
}

.vscroll{
    overflow-y: auto;
    overflow-x: hidden;
}

.invisible{
    visibility: hidden;
    opacity:0;
}

body {
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    background-color: black;
    overflow: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    text-align: center;
    position: absolute;
    margin:0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed;
    color: #aa3232;
    transition: color .5s;
}

a:hover{
    color: #ac6565;
}

a > img {
    border: none;
}

h1{
    color: #9F3737;
    font-weight: bold;
}

li{
    padding-bottom: 1em;
}

.sidebar {
    transition: width .5s;
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    background-color: #282727; 
    padding-top: 1em; 
    overflow: hidden;
    z-index: 100;
    text-align: left;
}

.sidebar a {
    border: none;
}

/*заголовок меню*/
.sidebar > div:first-child{
    padding-left: .8em;
    white-space: nowrap;
    border-bottom: .1em solid;
}

.sidebar > div:first-child > h1{
    font-size: 1.3em;
    margin: 0 1em .4em 1em; 
    display: inline-block;
}


.expand {
    transition: transform .5s;
}

.sidebar.expanded {
    width: 20em !important;
}


.sidebar.expanded .expand {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#sidebar_bg{
    z-index: 98;
    background-color: black;
    visibility: hidden;
    opacity: 0;  
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    transition: visibility .5s, opacity .5s;
}

#menu.expanded + #sidebar_bg{
    visibility: visible;
    opacity: .7;
}

.items_wrapper{
    position: absolute;
    bottom:1em;
    top: 3.45em;
    width: 100%;
}

.items > *{
    cursor: pointer;
}

.items {
    width: 100%;
    height: 100%;
    display: table;
    white-space: nowrap;
}

.items > div {
    display: table-row;
}
.items > div > div {
    display: table-cell;
}
.items > div > div > *{
    display: block;
}
.vtop {vertical-align: top;}
.vcenter {vertical-align: middle;}
.vbottom {vertical-align: bottom;}

.items img {
    width: 1.4em;
    height: 1.4em;
    margin: .7em .8em 0;
}

.items p {
     white-space: nowrap;
     display: inline-block;
     position: absolute;
     margin: .7em .7em 0;
}

form.items > div > div > *{white-space: nowrap; padding-left: 1em;}

.items  .search_container{
     background: linear-gradient(#353535, #4b4747, #353535);
     margin: 1em 1em 1em 1em;
     border-radius: .2em;
     border: #4A4848 solid .1em;
     font-size:1em;
}

.sidebar form label{
    display: inline-block;
    width: 5em;
}

.sidebar form label span img{
    height: 1em;
    width: auto;
    margin:0;
}
 .sidebar form label span{
     float: right;
     position: relative;
 }


    .sidebar form label span > div {
        width: 17em;
        white-space: normal;
    }

.sidebar form label:hover span> div{
    transition-delay: .7s;
    visibility: visible;
    opacity:1;
}

.sidebar form input{
    background: linear-gradient(#353535, #4b4747, #353535);
    margin: 1em 0;
    border-radius: .2em;
    border: #4A4848 solid .1em;
    font-size:1em;
    width: 12em;
}

.sidebar form > div:first-child + div input{
    cursor: pointer;
    width: 9em;
    margin-right: 1em;
    padding: .5em;
    font-size: .9em;
}

.sidebar form input{
    padding: .5em;
}

.log_message{
    background-color: rgba(255, 120, 120, 0.82);
    color: black;
    font-size: .8em;
    background-image: url(/img/exclamation.png);
    background-repeat: no-repeat;
    background-position: 0.5em 0.4em;
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: height .3s, padding .3s;
}

.log_message.expanded{
    height: 17px;
    padding: .5em .5em .5em 2.5em !important;
}

.items .search_container > input[type=search]
{
    background: none;
    border: none;
    font-size:1em;
    width: 80%;
    padding: .5em;
}

.items .search_container > img{
    right: .5em;
    top: 1em;
    position: absolute;
}

#menu {
    width: 3em;
    z-index: 99;
}

#main {
    position: relative;
    display: inline-block;
    max-width: 1600px;
    height:100%;
    width:100%;
}

#main > *{
    text-align: left;
}

div.banner {
    text-align: center !important;
    height: 120px;
}

div.banner > a{
    border: none;
}

div.banner > a > img {
    height: 80%;
    margin-left: -10%;
}

footer {
    padding: 100px 0 0;
    font-size: .8em;
}

footer > div {
    text-align: right;
    margin-right: 1em;
}

.msgbox_container{
    background-color: rgba(0,0,0,.9);
    position: fixed;
    left: 0;
    top:0;
    width:100%;
    height:100%;
    z-index: 100;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s;
}

.msgbox_container.showed{
    visibility: visible;
    opacity: 1;
}

.msgbox_container > div{
    transition: top .3s;
    display: table;
    position: absolute;
    top: -100%;
    width:100%;
    height:100%;    
}

.msgbox_container.showed > div{
    top: 0;
}

.msgbox_container > div > div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.msgbox{
    z-index: 1000;
    padding: 1em 0 1em 1em;
    text-align: left;
    background-color: #282727; 
    width: 30%;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}

.msgbox > div:first-child{
    padding-right: 1em;
    text-align: right;
}

.msgbox > div:first-child > div{
    cursor: pointer;
}

.msgbox > div:first-child + div{
    padding-right:1em;
}

.tip{
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    position: absolute;
    z-index: 1000; 
    color: black;
    background-color: white;
    padding: .5em;
    font-size: .8em;
    text-align: left;
}

.tip > *{color: black;}

#content{
   position: relative;
}

.sticky{
    position: static;
    padding: 0;
    overflow-x: auto;
}

.sticky > *{
    padding: 1em;
}

.sticky.sticked{
    position: fixed;
    top: 1em;
}

.combobox{
    text-align: left;
    position: relative;
    cursor: pointer;
    display: inline-block;
    background-color: rgb(42, 40, 40);
}

.combobox input[type=checkbox]{
    display: none;
}

.combobox > .options{
    width: 100%;
    position: absolute;
    margin-top: -1em;
    visibility: hidden;
    opacity: 0;
    transition: margin-top .2s, visibility .2s, opacity .2s;
    overflow: hidden;
    background-color: inherit;
}

.combobox > .options > div{
     transition: background-color .3s;
}

.combobox > .options > div:hover{
    background-color: rgb(33, 30, 30);
}

.combobox > input[type=checkbox]:checked + .options{
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}

.combobox > div > div{
    padding:  .1em .5em;
}

.combobox > div> .arrow{
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 0;
    bottom: 0;
    width: 1em;
}

.arrow > img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto; 
    margin-bottom: auto;
    width: 100%;
}

img.wheel_tip{
    position: absolute; 
    right: 5%; 
    bottom: 0;
    width: 20%;
    transition: visibility .5s, opacity .5s;
    opacity: 1;
    visibility: visible;
}

img.wheel_tip.invisible {opacity: 0;}
