@font-face{
    font-family: Open Sans;
    src: url(fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: Open Sans;
    src: url(fonts/OpenSans-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: Open Sans;
    src: url(fonts/OpenSans-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

*{
    color: #D4CECE;
    font-family: 'Open Sans', sans-serif; 
}

.vscroll{
    overflow-y: auto;
    overflow-x: hidden;
}

.invisible{
    visibility: hidden;
    opacity:0;
}

body {
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    overflow: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    text-align: center;
    position: absolute;
    margin:0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed;
    color: #aa3232;
    transition: color .5s;
}

a:hover{
    color: #ac6565;
}

a > img {
    border: none;
}

h1{
    color: #9F3737;
    font-weight: bold;
}

li{
    padding-bottom: 1em;
}

.sidebar {
    transition: width .5s;
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    background-color: #282727; 
    padding-top: 1em; 
    overflow: hidden;
    z-index: 100;
    text-align: left;
}

.sidebar a {
    border: none;
}

/*заголовок меню*/
.sidebar > div:first-child{
    padding-left: .8em;
    white-space: nowrap;
    border-bottom: .1em solid;
}

.sidebar > div:first-child > h1{
    font-size: 1.3em;
    margin: 0 1em .4em .5em; 
    display: inline-block;
    position: relative;
    top: -2px;

}

.notransition{
    transition: none !important;
}

.expand {
    transition: transform .5s;
}

.sidebar.expanded {
    width: 320px !important;
}


.sidebar.expanded .expand {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#sidebar_bg{
    z-index: 98;
    background-color: black;
    visibility: hidden;
    opacity: 0;  
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    transition: visibility .5s, opacity .5s;
}

#sidebar_bg.expanded{
    visibility: visible;
    opacity: .7;
}

.items_wrapper{
    position: absolute;
    bottom:1em;
    top: 3.45em;
    width: 100%;
}

.items > *{
    cursor: pointer;
}

.items {
    width: 100%;
    height: 100%;
    display: table;
    white-space: nowrap;
}

.items > div {
    display: table-row;
}
.items > div > div {
    display: table-cell;
}
.items > div > div > *{
    display: block;
}
.vtop {vertical-align: top;}
.vcenter {vertical-align: middle;}
.vbottom {vertical-align: bottom;}

.items img {
    width: 1.4em;
    height: 1.4em;
    margin: .7em .8em 0;
}

.items p {
     white-space: nowrap;
     display: inline-block;
     position: absolute;
     margin: .7em .7em 0;
}

form.items > div > div > *{white-space: nowrap; padding-left: 1em;}

.items  .search_container{
     background: linear-gradient(#353535, #4b4747, #353535);
     margin: 1em 1em 1em 1em;
     border-radius: .2em;
     border: #4A4848 solid .1em;
     font-size:1em;
}

.sidebar form label{
    display: inline-block;
    width: 5em;
    position: relative;
}

    .sidebar form label .tip {
        width: 19em;
        white-space: normal;
        top:100%;
        left: 50%;
    }

form label:hover > .tip{
    transition-delay: .7s;
    visibility: visible;
    opacity:1;
}

input, textarea{
    background-color: rgb(30, 28, 28) !important;
    transition: box-shadow .5s;
    margin: 1em 0;
    border-radius: .2em;
    border: #4A4848 solid .1em;
    font-size:1em;
    width: 12em;
    padding: .5em;
}

input:focus, textarea:focus{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.66);
}

input[type=submit], input[type=reset], input[type=button]{
    cursor: pointer;
    width: 9em;
    margin-right: 1em;
    padding: .5em;
    font-size: .9em;
    transition: background-color .7s, color .7s;
}

input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover{
    background-color: white !important;
    color: black;
}

.log_message{
    font-size: .9em;
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: height .3s, padding .3s;
    white-space: normal;
    width: 320px;
}

.log_message.success{
    background-color: rgba(17, 90, 3, 0.82);
}

.log_message.fail{
    background-color: rgba(117, 8, 8, 0.82);
}

.log_message > div{
    background-size: auto 1.4em !important;
    margin: 10px 0;
    padding-left: 40px;
    
}

.log_message.fail > div {
    background: url(/img/exclamation.png) 5px center no-repeat;
}

.log_message.success > div {
    background: url(/img/info.png) 5px center no-repeat;
}

.log_message > div > *{
    position: relative;
    white-space: normal;
    margin: 0;
}

.log_message p{
    position: relative;
    margin:0;
}

.log_message .details:before{
    content: 'Подробнее: ';
}

.items .search_container > input[type=search]
{
    background: none;
    border: none;
    font-size:1em;
    width: 80%;
    padding: .5em;
    margin:0;
}

.items .search_container > img{
    right: .5em;
    top: 1em;
    position: absolute;
}

input[type=submit].loading{
    border: none;
    background: url(/img/loading.gif) center left no-repeat;
    background-size: 1em;
    box-shadow: none;
    background-color: transparent !important;
}

input[type=submit]:hover.loading{
    background-color: transparent !important;
    color: white !important;
}

#menu {
    width: 3em;
    z-index: 99;
}

#main {
    position: relative;
    display: inline-block;
    max-width: 1600px;
    height:100%;
    width:100%;
}

#main > *{
    text-align: left;
}

div.banner {
    text-align: center !important;
    height: 120px;
}

div.banner > a{
    border: none;
}

div.banner > a > img {
    height: 80%;

}

footer {
    padding: 100px 0 0;
    font-size: .8em;
}

footer > div {
    text-align: right;
    margin-right: 1em;
}

.msgbox_container{
    background-color: rgba(0,0,0,.9);
    position: fixed;
    left: 0;
    top:0;
    width:100%;
    height:100%;
    z-index: 100;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s, opacity .2s;
}

.msgbox_container.showed{
    visibility: visible;
    opacity: 1;
}

.msgbox_container > div{
    transition: top .2s;
    display: table;
    position: absolute;
    top: -100%;
    width:100%;
    height:100%;    
}

.msgbox_container.showed > div{
    top: 0;
}

.msgbox_container > div > div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.msgbox{
    z-index: 1000;
    padding: 1em 0 1em 1em;
    text-align: left;
    background-color: #282727; 
    width: 30%;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}

.msgbox figure{
    display: inline-block;
}

.msgbox h1{
    font-size: 1.3em;
}

.msgbox h2{
    color: #9F3737;
    font-size: 1.1em;
}

.msgbox > div:first-child{
    padding-right: 1em;
    text-align: right;
}

.msgbox > div:first-child > div{
    cursor: pointer;
}

.msgbox > div:first-child + div{
    padding-right:1em;
}

.msgbox .details{
    transition: height .5s;
    height: 0;
    overflow: auto;
    font-size: .8em;
    text-align: left !important;
}

.msgbox label{
    font-size: .8em;
    border-top: 1px dashed #D4CECE;
    display: block;
    padding-top: 5px;
}

.msgbox label > img{
    height: .5em;
    width: .8em;
    margin-left: 5px;
    transition: transform .5s;
}

.msgbox #details_check{
    display: none;
}

.msgbox #details_check:checked + label + .details{
    height: 100px;
}

.msgbox #details_check:checked + label > img{
     -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.tip{
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    position: absolute;
    z-index: 1000; 
    color: black;
    background-color: white;
    padding: .5em;
    font-size: .8em;
    text-align: left;
    box-shadow: 0 0 5px rgba(255,255,255,0.4);
}

.tip > *{color: black;}

#content{
   position: relative;
}

.sticky{
    position: static;
    padding: 0;
    overflow-x: auto;
}

.sticky > *{
    padding: 1em;
    position: relative;
}

.sticky.sticked{
    position: fixed;
    top: 1em;
}



img.wheel_tip{
    position: absolute; 
    right: 5%; 
    bottom: 0;
    width: 20%;
    transition: visibility .5s, opacity .5s;
    opacity: 1;
    visibility: visible;
}

img.wheel_tip.invisible {opacity: 0;}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
